:root {
  --color-black: rgb(11,13,23);
  --color-blue-white: rgb(208,214,249);
  --color-white: rgb(255,255,255)
}

h1, h2, h3, h4, .subheading-1{
  font-family: 'Bellefair', serif;
}
h1{
  font-size: 150px;
}
h2{
  font-size: 100px;
}
h3{
  font-size: 56px;
}
h4{
  font-size: 32px;
}
.subheading-1{
  font-size: 28px;
}

h5, .subheading-2, nav, p{
  font-family: 'Barlow Condensed', sans-serif;
}
h5{
  font-size: 28px;
  letter-spacing: 4.75px;
}
.subheading-2{
  font-size: 14px;
  letter-spacing: 2.35px;
}
nav{
  font-size: 16px;
  letter-spacing: 2.7px;
}
p{
  font-size: 18px;
  line-height: 32px;
}
