@import "./reset.css";
@import "./base.css";


body{
  min-height: 100vh;
  background-color: var(--color-black);
  padding-top: 40px;

  
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  background-position: center;
}



/* tablet */
@media only screen and (min-width: 760px) and (max-width: 1024px) {

  body{
    padding-bottom: 90px;
  }

}