@import "./reset.css";
@import "./base.css";


body{
  min-height: 100vh;
  background-color: var(--color-black);
}

#app{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}