@import "./reset.css";
@import "./base.css";


body{
  min-height: 100vh;
  background-color: var(--color-black);
}

/* tablet */
@media only screen and (min-width: 760px) and (max-width: 1024px) {
  #app{
    height: 1024px;
    position: relative;
  }
}